* {
    font-family: Arial, Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 400;
}

body {
    margin: o;
}

h1 {
    font-size: 22px;
    font-weight: bold;
}

a :visited {
    color: black;
    font-weight: 600;
}

a {
    color: red;
    font-weight: 600;
}

label {
    font-weight: 500;
}

.buttom {
    border-radius: 5px;
}

input {
    border-color: black;
    color: rgb(103, 103, 128);
}

/* utility classes */

.block {
    display: block;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between
}

.gap-5px {
    gap: 5px;
}

.p-x-20px {
    padding: 0 20px;
}

.m-t-20px{
    margin-top: 20px;
}

/* components */

.black-button {
    color: rgb(233, 227, 227);
    background-color: rgb(8, 8, 8);
    font-weight: 100;
}