/* utility classes */

.grid {
    display: grid;
}

/* mobile */
.grid-1column-4rows {
    grid-template-columns: 1fr;
}

/* tamaño tablet md=medium*/
@media screen and (min-width: 800px) {
    .md-grid-2columns-2rows {
        grid-template-columns: 1fr 1fr; /*de izquierda a derecha tenemos dos fracciones y ambas ocupan lo mismo*/
        grid-template-rows: 1fr 1fr;
    }
}

/* tamaño desktop lg=large */
@media screen and (min-width: 1280px) {
    .lg-grid-3columns-2rows {
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr;
    }
}