/*globals */
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

body {
    margin: 0;
}

label {
    font-weight: 500;
}

a:visited {
    color: black;
    font-weight: 500;
}

h1 {
    font-size: 22px;
    font-weight: bold;
}

label {
    font-weight: 500;
}


a:visited {
    color: pink;
}

a {
    color: plum;
    font-weight: 300;
}


/* utility classes */

.block {
    display: block;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.gap-5px {
    gap: 5px;
}

.gap-20px {
    gap: 20px;
}

.gap-10px {
    gap: 10px;
}

.p-20px {
    padding: 20px;
}

.p-x-20px {
    padding: 0 20px;
    ;
}

.justify-between {
    justify-content: space-between;
}


/* components */
.violet-button {
    color: black;
    background-color: violet;
    font-weight: 300;
}