* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

h1 {
    font-size: 22px;
    font-weight: bold;
}

a {
    color: black;
    font-weight: 500;
}

a:visited {
    color: rgb(70, 145, 192);
}

label {
    font-weight: 500;
}

.gap-10px {
    gap: 10px;
}

.gap-20px {
    gap: 20px;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}


.registerButton {
    color: rgb(26, 23, 113);
    background-color: floralwhite;
    font-weight: 200;
}

.p-x-20px {
    padding: 0 20px;
}