@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Boldonse&display=swap');
body {
    background-color: #fef3bd;
    /*font-family: Arial, sans-serif;*/
  }
  

  h2, h3 {
    font-family: Barriecito;
  }
.header {
    display: flex;
    justify-content: space-evenly;
    font-family: Boldonse;
}

.image {
    width: 75px;
    border-radius: 20px;
}
 .main {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 20px
 }

 .left-container {
    /*background-color: rgb(90, 230, 223);*/
    width: 250px;
    
 }

 .left-container ul li::marker {
  content: '🍩';
  font-size: 1.2em;
 }

 .right-container {
    max-width: 800px;
    margin: 0 auto;
 }

 .experience ul li::marker {
  content: '🍺';
  font-size: 1.2em;
 }

 footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer img {
    width: 50%;
    max-width: 100%;
    height: 150px;
    display: block;
  }
  